body {
    text-align: center;
    height: calc(100vh - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(190deg, rgba(95, 127, 238, 1) 0%, rgba(0, 212, 255, 1) 100%);
    font-family: sans-serif;
}

.welcome-card {
    background: white;
    border-radius: 10px;
    padding: 90px 20px;
}

.title {
    font-size: 24px;
}

.start-title {
    font-style: italic;
    font-size: 30px;
}

.warning {
    color: red;
    font-style: italic;
}

.notes {
    font-size: 14px;
    margin: 10px 0px;
}

.game-button {
    text-decoration: none;
    color: white;
    background: #31b2fe;
    border-radius: 30px;
    padding: 10px 50px;
    margin: 30px 0px;
    display: inline-block;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.deck {
    height: 400px;
    width: 225px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
}

.game-board {
    display: flex;
    margin-left: -225px;
}

.card {
    height: 380px;
    width: 205px;
    background: white;
    color: black;
    border: 1px solid #ededed;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    font-size: 18px;
    padding: 10px;
    position: absolute;
    pointer-events: none;
}

.new-game-button {
    position: absolute;
    bottom: 25px;
    right: 25px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: underline;
    font-size: 18px;
}

.player-list {
    margin: 20px 5px
}

.player-entry {
    margin: 10px 5px;
    display: inline-block;
    background: #ededed;
    padding: 3px 5px;
    border-radius: 6px;
}

.remove-button {
    background: none;
    border: none;
}

.name-field {
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
}

.add-button {
    border: none;
    color: white;
    background: none;
    font-size: 35px;
}

.begin-button {
    margin-top: 29px;
    border: white solid 2px;
    background: none;
    border-radius: 32px;
    padding: 9px 30px;
    color: white;
    font-size: 16px;
}

.input-holder{
    display: flex;
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .deck {
        height: 900px;
        width: 440px;
        margin-left: -230px;
        font-size: 60px;
    }

    .card {
        width: 420px;
        height: 880px;
        font-size: 50px;
    }

    .new-game-button {
        font-size: 40px;
    }

    .start-title {
        font-size: 80px;
    }

    .game-button {
        font-size: 50px;
        border-radius: 50px;
        margin: 80px 0px
    }

}